/* Colors */
$bg-red: 12 88% 59%; // Bright Red
$bg-dblue: 228 39% 23%; // Dark Blue
$fc-grblue: hsl(227, 12%, 61%); // Dark Grayish Blue
$fc-vdblue: hsl(234, 20%, 20%); // Very Dark Blue
$fc-pred: hsl(13, 100%, 96%); // Very Pale Red
$fc-lgray: hsl(0, 0%, 100%); // Very Light Gray
$overlay-color: rgba(0, 0, 0, 0.4);

/* Font sizes */
$fs-100: 0.625rem; // 10px
$fs-200: 0.75rem; // 12px
$fs-300: 1.3125rem; // 21px
$fs-400: 1.75rem; // 28px
$fs-500: 1.875rem; // 30px
$fs-600: 2.5rem; // 40px

/* Font weights */

$fw-400: 400;
$fw-500: 500;
$fw-700: 700;
